.vermelho {
	-fx-background-color: lightcoral;
}

.amarelo {
	-fx-background-color: gold;
	-fx-text-fill: black;
}

.certo {
	-fx-background-color: lightgreen;
}

.errado {
	-fx-background-color: lightcoral;
}

.cell:selected>.amarelo,.amarelo.cell:selected {
	-fx-background-color: yellow;
	-fx-text-fill: black;
}

.cell:selected>.vermelho,.list-cell:selected>.vermelho {
	-fx-background-color: red;
	-fx-text-fill: black;
}

.percentage {
	-fx-scale-y: 0.0;
}

.progress-indicator:determinate {
	-fx-progress-color: green;
}

.progress-indicator:indeterminate {
	-fx-progress-color: red;
	-fx-scale-x: 0.0;
}

.table-row-cell:empty {
    -fx-background-color: white;
}
 
.table-row-cell:empty .table-cell {
    -fx-border-width: 0.0px;
}

.list-cell:empty {
    -fx-background-color: white;
    -fx-visible:false;
}