.root {
	-fx-base: #606060;
	-fx-background-color: radial-gradient(center 50.0% 50.0%, radius 60.0%, #666a6b, #FFFFFF);
	-fx-background-image: url("cross.png");
	-fx-background-position: left top;
	-white-ish: rgba(255.0, 255.0, 255.0, 0.9);
	-black-ish: rgba(0.0, 0.0, 0.0, 0.8);
}

.button {
	-fx-text-fill: #E0E0E0;
	-fx-font-size: 20.0pt;
	-fx-pref-width: 300.0px;
}

.label {
	-fx-text-fill: #E0E0E0;
	-fx-pref-width: 300.0px;
}

#clipLabel {
	-fx-font-size: 34.0pt;
}

.hyperlink {
	-fx-text-fill: #808080;
}

#applicationArea {
	-fx-arc-width: 20.0;
	-fx-arc-height: 20.0;
	-fx-fill: -black-ish;
	-fx-stroke: green;
	-fx-stroke-width: 2.0;
	-fx-stroke: -white-ish;
}

#buttonArea {
	-fx-arc-width: 15.0;
	-fx-arc-height: 20.0;
	-fx-fill: -black-ish;
	-fx-stroke: -white-ish;
}

#stopButton {
	-fx-background-color: -white-ish;
	-fx-stroke: -white-ish;
	-fx-scale-shape: false;
	-fx-translate-x: -133;
	-fx-translate-y: -14;
	-fx-shape:
		"M0,0 h10 a2,2 0 0 1 2,2 v10 a2,2 0 0 1 -2,2 h-10 a2,2 0 0 1 -2,-2 v-10 a2,2 0 0 1 2,-2 z"
}

#play-button {
	-fx-fill: -white-ish;
	-fx-scale-x: 0.8;
	-fx-scale-y: 0.8;
}

.pause-circle {
	-fx-stroke: -white-ish;
}

.play-circle {
	-fx-stroke: -white-ish;
	-fx-translate-x: -10.0;
}

.pause-line {
	-fx-stroke-width: 3.0;
	-fx-stroke: -white-ish;
	-fx-translate-y: 6.0;
}

#close-circle {
	-fx-fill: -white-ish;
}

#pauseButton {
	
}

.toggle-button {
	-fx-translate-x: 22px;
	-fx-translate-y: 1px;
	-fx-scale-x: 0.9;
	-fx-scale-y: 0.9;
	-fx-base: black;
	-fx-pressed-base: black;
	-fx-stroke: transparent;
	-fx-content-display: graphic-only;
	-fx-alignment: center-left;
	-fx-focus-color: black;
	-fx-inner-border: black;
	-fx-body-color: black;
	-fx-faint-focus-color: black;
	-fx-body-color: black;
}

.slider {
	-fx-show-tick-labels: false;
	-fx-show-tick-marks: true;
}