.vermelho {
	-fx-background-color: lightcoral;
}

.amarelo {
	-fx-background-color: gold;
	-fx-text-fill: black;
}

.certo {
	-fx-background-color: lightgreen;
}

.errado {
	-fx-background-color: lightcoral;
}

.cell:selected>.amarelo,.amarelo.cell:selected {
	-fx-background-color: yellow;
	-fx-text-fill: black;
}

.cell:selected>.vermelho {
	-fx-background-color: red;
	-fx-text-fill: black;
}

.percentage {
	-fx-scale-y: 0;
}

.progress-indicator:determinate {
	-fx-progress-color: green;
}

.progress-indicator:indeterminate {
	-fx-progress-color: red;
	-fx-scale-x: 0;
}