Square2048{
	-fx-background-color: burlywood;
	-fx-border-color: black;
	-fx-border-width: 1;
	-fx-effect:	 innershadow(gaussian, black, 20,0.1, 1, 1);
}
Text{
	-fx-text-alignment:center;
	-fx-text-origin: center;
}